main {
    max-width: 1060px;
    padding: 20px;
}

.warning {
    color: var(--warning);
}

.book {
    /* width: 80%; */
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.read {
    border-left: 8px solid green;
}
.not-read {
    border-left: 8px solid gold;
}

.details {
    display: flex;
    flex-direction: column;
}

/* .actions {
    display: flex;
    flex-direction: column;
} */

/* .actions button {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: flex-start;

    margin-bottom: 3px;
} */
.text {
    margin: 0 auto;
}

.delete {
    margin-top: 5px;
}





form {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    img {
        width: 102px;
    }
}





/* .btn-icon-split {
    padding: 0;
    overflow: hidden;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
}
.btn-icon-split .icon {
    background: rgba(0,0,0,.15);
    display: inline-block;
    padding: .375rem .75rem;
}
.btn-icon-split .text {
    display: inline-block;
    padding: .375rem .75rem;
} */