body {
    background-color: #F2EBE3;
}

main {
    max-width: 1060px;
    padding: 20px;
    background-color: white;
}

.warning {
    color: var(--warning);
}

.book {
    /* width: 80%; */
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.read {
    border-left: 8px solid green;
}
.not-read {
    border-left: 8px solid gold;
}

.details {
    display: flex;
    flex-direction: column;
}

/* .actions {
    display: flex;
    flex-direction: column;
} */

/* .actions button {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: flex-start;

    margin-bottom: 3px;
} */
.text {
    margin: 0 auto;
}

.delete {
    margin-top: 5px;
}


img {
    width: 175px;
}


form {
    margin-bottom: 20px;
}

.form-select {
    width: 180px;
}

/* delete book fade animation */
.card {
    opacity: 1;
}
.fade-out {
    transition: all 0.4s ease-out;
    opacity: 0;
}



/* .removed-item {
    animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@keyframes removed-item-animation {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
} */




@media (min-width: 768px) {
    img {
        width: 100px;
        /* height: ; */
    }
}





/* .btn-icon-split {
    padding: 0;
    overflow: hidden;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
}
.btn-icon-split .icon {
    background: rgba(0,0,0,.15);
    display: inline-block;
    padding: .375rem .75rem;
}
.btn-icon-split .text {
    display: inline-block;
    padding: .375rem .75rem;
} */